<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!--<property name="connection.url"/>-->
        <!--<property name="connection.driver_class"/>-->
        <!-- <property name="connection.username"/> -->
        <!-- <property name="connection.password"/> -->

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
        <mapping resource="app/model/hbm/Address.hbm.xml"/>
        <mapping resource="app/model/hbm/User.hbm.xml"/>
        <mapping resource="app/model/hbm/Author.hbm.xml"/>
        <mapping resource="app/model/hbm/Book.hbm.xml"/>
        <mapping resource="app/model/hbm/Cart.hbm.xml"/>
        <mapping resource="app/model/hbm/CartDetail.hbm.xml"/>
        <mapping resource="app/model/hbm/Order.hbm.xml"/>
        <mapping resource="app/model/hbm/OrderDetail.hbm.xml"/>
        <mapping resource="app/model/hbm/Category.hbm.xml"/>
        <mapping resource="app/model/hbm/Producer.hbm.xml"/>
        <mapping resource="app/model/hbm/Review.hbm.xml"/>
    </session-factory>
</hibernate-configuration>